# Exsercises

In [2]:
from __future__ import print_function
import os
import pandas as pd

## Question 1

Load the data from the file using the techniques learned today. Examine it.

Determine the following:

* The number of data points (rows). (*Hint:* check out the dataframe `.shape` attribute.)
* The column names. (*Hint:* check out the dataframe `.columns` attribute.)
* The data types for each column. (*Hint:* check out the dataframe `.dtypes` attribute.)

In [3]:
data_path = ['data']
filename = "Iris_Data.csv"
# this make it OS agnostic
filepath = os.sep.join(data_path + [filename])
data = pd.read_csv(filepath)
print("number of rows: {}".format(data.shape[0]))

number of rows: 150

In [4]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [5]:
print("column names: {}".format(data.columns.tolist()))

column names: ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']

In [6]:
print("Data types:\n{}".format(data.dtypes.to_string()))

Data types:
sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object

## Question 2

Examine the species names and note that they all begin with 'Iris-'. Remove this portion of the name so the species name is shorter. 

*Hint:* there are multiple ways to do this, but you could use either the [string processing methods](http://pandas.pydata.org/pandas-docs/stable/text.html) or the [apply method](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.apply.html).

In [7]:
print(data['species'].unique())

['Iris-setosa' 'Iris-versicolor' 'Iris-virginica']

In [8]:
data['species'] = data['species'].str.replace('Iris-','')
data['species'] = data['species'].str.capitalize()
print(data['species'].unique())

['Setosa' 'Versicolor' 'Virginica']

## Question 3

Determine the following:  
* The number of each species present. (*Hint:* check out the series `.value_counts` method.)
* The mean, median, and quantiles and ranges (max-min) for each petal and sepal measurement.

*Hint:* for the last question, the `.describe` method does have median, but it's not called median. It's the *50%* quantile. `.describe` does not have range though, and in order to get the range, you will need to create a new entry in the `.describe` table, which is `max - min`.

## Question 3

Determine the following:  
* The number of each species present. (*Hint:* check out the series `.value_counts` method.)
* The mean, median, and quantiles and ranges (max-min) for each petal and sepal measurement.

*Hint:* for the last question, the `.describe` method does have median, but it's not called median. It's the *50%* quantile. `.describe` does not have range though, and in order to get the range, you will need to create a new entry in the `.describe` table, which is `max - min`.

In [9]:
data['species'].value_counts()

Setosa        50
Versicolor    50
Virginica     50
Name: species, dtype: int64

In [10]:
print(data.dtypes)

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [17]:
stats = data.describe()
for c,t in data.dtypes.items():
    print(c)
    
pd.DataFrame([((data.dtypes.items()data[i].max() - data[i].min(), i) for i in data.columns])

# for i in data.columns:
#     if data.dtypes[i] == 'float64':
#         range[i](data[i].max() - data[i].min())
#     else:
#         range.append("literal")
# stats.append()

sepal_length
sepal_width
petal_length
petal_width
species